<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
	<title>Checkin Bot</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<div id="page">
		<div id="login">
			<h1>CheckinBot!</h1>
			<p>Another Simple GTD App with Gtalk Robot integration!</p>
		</div>
		<div id="content" class="signin">
			<a href="{{ login_url }}">Sign in with google.</a>
		</div>
		<div id="foot">
			<p>&copy;2010 CheckinBot  Brought you by <a href="mailto:rociiu.yu@gmail.com">rociiu.yu@gmail.com</a></p>
		</div>
	</div>
</body>
</html>